<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="7" name="Test suite" parallel="tests">
    <test name="test 1">
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="test 2">
        <classes>
            <class name="tests.ConfirmationTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="test 3">
        <classes>
            <class name="tests.HeaderAreaTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="test 4">
        <classes>
            <class name="tests.ItemTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="test 5">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="test 6">
        <classes>
            <class name="tests.OverviewTest"/>
        </classes>
    </test> <!-- Test -->
    <test name="test 7">
        <classes>
            <class name="tests.ProductsTest"/>
        </classes>
    </test> <!-- Test -->
</suite>